@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.fade-in {
    animation: fadeIn 0.3s;
}
.custom-audio-player {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 0 10px 0 0;
    overflow: hidden;
}

.audio-block {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}
.flag-icon {
    font-size: 1.5em;
    cursor: pointer;
}
.card {
    min-height: 270px; /* Установите желаемую минимальную высоту */
    background-color: #ffffff; /* Пример фона для лучшей видимости */
    border: 1px solid #ced4da; /* Пример границы для лучшей видимости */
    padding: 20px; /* Отступы внутри блока */
}
.language-btn {
    font-size: 24px;
    line-height: 29px;
    border: 1px solid transparent; /* Пример границы для лучшей видимости */
    padding: 0 5px;
    margin: 0;
}
.language-btn:hover {
    border-radius: .25rem;
    background-color: #6c757d;
    border-color: #6c757d;
}

.logo a {
    text-decoration: none;
    color: black;
}
.logo a:hover {
    text-decoration: underline;
    color: black;
}

.faq ul{
    margin-bottom: 1rem;
}
.faq p{
    margin-top: 0.6rem;
}