
body, html {
    height: 100%;
    /*background: ghostwhite;*/
    font-family: BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
}

.logo {
    padding-left: 2%;
    font-weight: 100;
}

.logo a {
    font-weight: 100;
}

h1, h2, h3, h4, h5 {
    font-weight: 100;
    color: #636d77;
}

p, ul, input, label {
    color: #868e96;
    font-size: 1.22875rem;
    font-weight: 300;
    font-family: BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
}

.author {
    font-size: 14px;
    font-family: BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
}

.author a {
    background: rgb(223 223 223);
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 5px 1px 5px;
    color: #ffffff;
    border-radius: initial;
    font-size: 12px;
    margin-right: -21px;
}

.author a:hover {
    background: #ff671f;
    color: #ffffff;
    text-decoration: none;
}

.card-body-play {
    font-size: 24px;
}

.choice .form-check {
    padding-left: 1.7rem;
    border-radius: 12px;
}

.choice .form-check:hover {
    background: rgba(173, 181, 189, 0.5);
}

.choice .form-check-label {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 1px;
    cursor: pointer;
}

.choice input:checked:checked+label,
.choice .form-check-label:hover {
    cursor: pointer;
    color: #545b62;
}

.choice input[type="radio"], input[type="checkbox"] {
    margin-top: 0.42rem;
}

.answer-options .card-header,
.answer a.btn{
    font-size: 1.32875rem;
}

[class^=col] {
    /*background-color: rgba(86,61,124,.15);*/
    /*border: 1px solid rgba(86,61,124,.2);*/
}