<%= htmlWebpackPlugin.options.header %>

<h1 class="text-center">
  FAQ
</h1>

<hr/>

<div class="row align-items-center justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12 justify-content-md-center">
    <h5>Что это такое?</h5>
    <p>
      ABX тест — разновидность слепого метода тестирования. Когда испытуемый не знает, какой из сравниваемых файлов
      звучит в данный момент и должен определить это исключительно на слух по определённым правилам.
    </p>
  </div>
</div>

<hr/>

<div class="row align-items-center justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12 justify-content-md-center">
    <h5>Зачем это?</h5>
    <p>
      Тест определяет, слышите ли вы разницу между разными форматами/битрейтами на вашей акустике или нет.
      <br/>
      <i>Ну и лечит аудофилию на ранней стадии. :)</i>
    </p>
  </div>
</div>

<hr/>

<div class="row align-items-center justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12 justify-content-md-center">
    <h5>Как этим пользоваться?</h5>
    <ul class="list-unstyled">
      <li>1. Нажимаете Старт</li>
      <li>2. Выбирает 2 варианта аудио форматов/битрейтов.</li>
      <li>3. Жмёте пройти.</li>
      <li>4. Вам будут доступны 3 композиции:
        <button type="button" class="btn btn-sm btn-primary">Первый формат</button>
        <button type="button" class="btn btn-sm btn-success">Второй формат</button>
        <button type="button" class="btn btn-sm btn-danger">Который необходимо определить</button>
      </li>
      <li>5. Выбираете, какой из форматов похож на тот трек, что играет и жмёте подтвердить.</li>
      <li>6. Пройдя все треки, вам будет доступен результат.</li>
    </ul>
  </div>
</div>

<hr/>

<br/>
<br/>


<%= htmlWebpackPlugin.options.footer %>