<%= htmlWebpackPlugin.options.header %>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="row align-items-center justify-content-center">
  <div class="col-lg-4 col-md-6 col-sm-8 col-10">
    <div class="row justify-content-md-center">
      <div class="col-4 align-self-center text-right">
        <a href="choice.html"  class="btn btn-primary">Старт</a>
      </div>
      <div class="col-4 align-self-center text-center">
        <span class="lead align-middle">или</span>
      </div>
      <div class="col-4 align-self-center text-left">
        <a href="faq.html" class="btn btn-success">FAQ</a>
      </div>
    </div>
  </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<%= htmlWebpackPlugin.options.footer %>